.artistList {
    margin-top: 10%;
}

.btn__artists {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.art__img {
    height: auto;
    max-width: 300px;
    margin: auto;
}
/* 
.btn__artwork {
    display: none;
} */