.artistList {
    margin-top: 10%;
}

.btn__artists {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
}

.art__img {
    height: auto;
    max-width: 400px;
    margin: auto;
}

.card__artists {
    margin: 10px;
}