/* .addArtBtn {
  margin-top: 60px;
  margin-left: 15px;
} */
 
.container-full {
    margin: 150px auto;
    width: 95%;
  } 

.jumbotron__img {
  margin: 5% auto auto auto;
  max-height: 250px;
  display: block;
}

.jumbotron {
  height: 400px;
  background-color: #A1C6C1;
}

.artworkList__header {
  margin-bottom: 15px;
}

